.navigation {
    padding: 70vh 10vw 12px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    button {
        display: inline-block;
        background-color: #fff;
        border: 2px solid #666;
        width: 120px;
        margin: 0 20px;
        padding: 12px 36px;
        transform: skewX(-30deg);
        box-shadow: 2px 2px 0 2px #666;
        font-size: 18px;
        color: #666;
        cursor: pointer;
        text-transform: lowercase;
        font-weight: 700;
        transition: all 0.3s ease-out;

        &:focus {
            border-color: $navy;
            box-shadow: 2px 2px 0 2px $navy;
            color: $navy;
            outline: none;
        }

        span {
            display: block;
            margin-left: -12px;
            transform: skew(30deg);
        }
    }
}
