section {
    display: block;
    overflow: hidden;
    position: relative;
}

.header {
    height: 100vh;
}

.projects, .person {
    padding: 480px 20px 20px;
}

.section-head {
    text-transform: lowercase;
}

.person {
    background-color: $mint;
}


footer {
    background-color: desaturate(darken($mint, 10), 30);
    color: #fff;
    padding: 240px 20px 20px;

    ul {
        margin: 0;
    }
}
