@import '../../styles/variables.scss';
@import '~sass-mq';

footer {
    overflow: hidden;
    width: 100%;
    max-height: 600px;
}

.footer__wrapper {
    margin-top: -150px;

    @include mq($from: 960px) {
        margin-top: -230px;
    }

    @include mq($from: 1400px) {
        margin-top: -275px;
    }
}

.footer__triangle {
    background-color: $mint;
    height: 15vw;
    width: 200vw;
    transform-origin: bottom right;
    transform: rotate(-4deg);
}

.footer__content {
    background-color: $mint;
    position: relative;
    z-index: 1;
}

.footer__links {
    margin: 0 auto;
    padding: 24px 0;
    max-width: 200px;
    display: flex;
    list-style-type: none;
    justify-content: space-around;

    li {
        width: 24px;
    }

    a:hover,
    a:focus {
        background-color: unset;
        
        .link-icon {
            fill: $sun;
        }
    }
}

.link-icon {
    fill: $navy;
    transition: fill 0.2s ease-out;
}