.projects-list {
    list-style: none;
    margin: 0;
    padding: 0;

    .project {
        display: inline-block;
        margin-bottom: 320px;
        width: 85%;
        padding-bottom: 33.333%;
        position: relative;

        @media (min-width: $desktopBreak) {
            width: 66.666%;
        }

        &.project--r {
            float: right;

            .project-thumb__label {
                left: -50px;
            }

            .project-thumb__button {
                left: 0;
                border-left-color: transparent;
                border-right-color: $mint;

                &::before {
                    border-left-color: $mint;
                    border-right-color: transparent;
                }
            }

            .sixteen-nine {
                &:hover,
                &:focus {
                    .project-thumb__button {
                        &::before {
                            border-width: 16px;
                            top: -24px;
                            left: -26px;
                        }
                    }
                }
            }
        }

        &.project--l {
            .project-thumb__button {
                right: 0;
                border-right: 18px solid transparent;
                border-left: 18px solid $mint;

                &::before {
                    border-right: 18px solid $mint;
                    border-left: 18px solid transparent;
                }
            }

            .sixteen-nine {
                &:hover,
                &:focus {
                    .project-thumb__button {
                        &::before {
                            border-width: 16px;
                            top: -24px;
                            left: -10px;
                        }
                    }
                }
            }
        }
    }

    .project-thumb__button {
        box-sizing: border-box;
        bottom: 0;
        padding: 0;
        border: 18px solid transparent;
        background-color: transparent;
        border-bottom-color: $mint;
        cursor: pointer;

        &::before {
            content: '';
            border: 18px solid transparent;
            border-top-color: $mint;
            position: absolute;
            top: -18px;
            left: -18px;
            transition: all 0.3s ease;
        }

    }

    .sixteen-nine {
        display: block;
        width: 100%;
        padding-bottom: (9 / 16) * 100%;
        position: relative;

        &:focus,
        &:hover {
            .project-thumb__label {
                color: $sun;
            }
        }
    }

    .project-thumb {
        position: absolute;
    }

    .project-thumb__label {
        color: $navy;
        font-size: 64px;
        width: 40vw;
        top: 20%;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
        text-align: right;
        transition: color 0.3s ease-out;

        span {
            background-color: $mint;
            position: relative;
            z-index: 100;

            &::before {
                content: '';
                position: absolute;
                z-index: -1;
                border: transparent solid 15px;
                border-bottom: $mint solid 77px;
                width: 20px;
                left: -20px;
                border-top-width: 0;
                border-right-width: 0;
            }
        }
    }

    .project-thumb__img {
        width: 100%;
        filter: blur(2px);
    }

    .project-modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $mint;
        z-index: 500;

        &.show {
            animation: modal-open 1s linear;
            visibility: visible;
            opacity: 1;

        }

        &.hide {
            opacity: 0;
            right: 100%;
            bottom: 100%;
            animation: modal-close 0.8s linear;
        }
    }
}

@keyframes modal-open {
    0% {
        bottom: calc(100% - 1vh);
        right: 100%;
    }
    20% {
        bottom: calc(100% - 1vh);
        right: 0;
    }
    100% {
        right: 0;
        bottom: 0;
    }
}

@keyframes modal-close {
    0% {
        right: 0;
        bottom: 0;
        opacity: 1;
    }
    50% {
        right: 0;
        bottom: calc(100% - 1vh);
        opacity: 1;
    }
    100% {
        right: 100%;
        bottom: calc(100% - 1vh);
        opacity: 1;
    }
}
